body {
  background-color: #EDEAE5;
  font-family: Montserrat,sans-serif;
  color: #415a77;
  background-image: url("images/lake.jpg");
  position: sticky;
  opacity: 0.65;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 1.5em;
  color: #EDEAE5;
  background: #ffffff;
  background-color: #EDEAE5;
  color: #000;
}


#hobbyHeader {
  color: white;
  font-weight: 800;
  width: 400px;
  margin: 150px;
  text-align: center;
}


p {
  color: white;
  font-family: Montserrat,sans-serif;
  font-size: 20px;
  font-weight: 800;
  width: 500px;
  height: 100px;
  margin: -150px 100px 50px 100px;
  text-align: center;
}

#bio {
  color: white;
  font-weight: 800;
  width: 500px;
  margin: 150px;
  text-align: center;
}

.links ul {
  list-style: none;
}

.links li {
  float: right;
  margin-top: -5px;
}

.links li a {
  display: inline;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Montserrat,sans-serif;
  color: black;
  list-style: none;

}


li {
  list-style: none;
  color:white;
  margin: 40px;
}

#hobbyList {
  color: white;
  font-weight: 800;
  width: 500px;
  line-height: 0%;
  margin: 150px;
  text-align: center;
  list-style-type: circle;
}

h2 {
  color: white;
  font-weight: 800;
  width: 400px;
  margin: 140px;
  text-align: center;
}

.adv {
  color: white;
  font-weight: 800;
  width: 500px;
  height: 80px;
  margin: -130px 50px 80px 60px;
  text-align: center;
  font-size: 20px;
}

footer {
  text-align: end;

}
